[submodule "poky"]
	path = poky
	url = git@github.com:frosteyes/poky.git
[submodule "meta-qt6"]
	path = meta-qt6
	url = git@github.com:frosteyes/meta-qt6.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:frosteyes/meta-openembedded.git
